.media-icons
{
    border-radius: 100px;
    width: 40px;
    height: 40px; 
}

.navcolor
{
    color: #0D1466 !important;
}

.footer a
{
    color: white;
}

.footer .footer-Links:hover
{
    text-decoration: underline !important;
}

.media-icons:hover
{
    background-color:bisque !important;
}