.offers-list
{
    border: 1px solid;
    text-align: center;
    border-radius: 50rem;
    padding: 10px 20px;
}

.services-img
{
    height: 500px;
}

@media  all and (max-width: 1100px)
{
    .services-img
    {
        height: 550px;
    }
}

@media  all and (max-width: 500px)
{
    .services-img
    {
        height: 400px;
    }
}

@media  all and (max-width: 500px)
{
    .services-img
    {
        height: 350px;
    }
}